.favorites-page-title {
    text-align: center;
    font-weight: 100;
}

.favorites-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 10px;
    width: 90vw;
    margin: 0 auto;
    padding-left: 0;

    .favorites-list-item {
        display: flex;
        flex-direction: column;

        .favorites-list-item-img {
            width: 300px;
            height: 500px;
        }

        h1 {
            margin-bottom: 0;
            font-size: 25px;

            span {
                color: grey;
                font-size: 20px;
            }
        }

        .favorite-btn {
            width: fit-content;
            background-color: transparent;
            border: none;
        }




    }
}