.products-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 10px;
    width: 90vw;
    margin: 0 auto;
    padding-left: 0;

    &.grid {
        grid-template-columns: repeat(4, 1fr);
    }

    &.table {
        grid-template-columns: 1fr;
        justify-items: center;
    }


    .products-list-item {
        display: flex;
        flex-direction: column;

        .products-list-item-img {
            width: 300px;
            height: 500px;
        }

        h1 {
            margin-bottom: 0;
            font-size: 25px;

            span {
                color: grey;
                font-size: 20px;
            }
        }

        .buttons-wrapper {
            display: flex;
            align-items: center;

            .favorite-btn {
                width: fit-content;
                background-color: transparent;
                border: none;
            }

            .add-to-cart-btn {
                width: fit-content;
                background-color: transparent;
                border: 1px solid black;
                border-radius: 6px;
            }
        }

    }
}