.page-header {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 40px;
    align-items: center;
    margin-top: 10px;

    nav {
        span {
            text-decoration: none;
        }
    }
}