.cart-page-title {
    text-align: center;
    font-weight: 100;
}

.cart-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 10px;
    width: 90vw;
    margin: 0 auto;
    padding-left: 0;



    .cart-item {
        display: flex;
        flex-direction: column;

        .delete-cart-product-btn {
            background-color: transparent;
            width: 50px;
            margin: 0 100% 0 0;
            padding: 10px;
            border-radius: 10px;
        }

        .cart-item-img {
            width: 300px;
            height: 500px;
        }

        h1 {
            margin-bottom: 0;
            font-size: 25px;

            span {
                color: grey;
                font-size: 20px;
            }
        }

    }
}