.hero-btns-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    align-items: center;
    height: 100vh;
}

.hero-btn {
    display: flex;
    width: 192px;
    height: 48px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #8A33FD;
    color: #FFF;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
}