.modal-wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    top: 0;
    left: 0;
}

.modal-body {
    width: 560px;
    height: 400px;
    background-color: #ffffff;
    padding: 56px;
    padding-top: 24px;
    text-align: center;
    border-radius: 16px;
}

.modal-header {
    display: flex;
}

.modal-image {
    height: 300px;
}

.modal-close {
    background-color: transparent;
    border: none;
    margin-left: 100%;
    display: block;
}

.modal-content {
    font-weight: 500;
    font-size: 16px;
    color: #808080;

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;



    & h1 {
        color: #1a1a1a;
        font-weight: 400;
        font-size: 32px;
        width: fit-content;
    }

}

.modal-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;

    & .btn1 {
        display: flex;
        width: 192px;
        height: 48px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #8A33FD;
        color: #FFF;
        border: none;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 500;
    }

    & .btn2 {
        display: flex;

        width: 192px;
        height: 48px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        color: #8A33FD;
        font-size: 16px;
        font-weight: 500;
        border-radius: 8px;
        border: 1px solid #3C4242;
        background-color: transparent;
    }
}